{% extends 'base.html' %}


{% block main %}
<div align="center" class="container">
  <div class="form shadow-none bg-secondary text-white w-50 m-5 py-5 px-2 rounded-1">
    <div><h1>Авторизация</h1></div>
    <div align="left" class="border-top border-black">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row px-3 py-5">
          <div class="col">
            {{ form.username.label }}{{ form.username(class="form-control") }}
          </div>
          <div class="w-100"></div>
          <div class="col">
            {{ form.password.label }}{{ form.password(class="form-control", type="password") }}
          </div>
        </div>
        <div class="row px-3">
          <div class="col w-100">
            {{ form.remember_me() }}{{ form.remember_me.label }}
          </div>
        </div>
        <div class="row px-3">
          <div class="col w-100">
            {{ form.submit(class="btn-black", type="submit") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main %}
